<h1>タスクの詳細</h1>
<p>タイトル: <%= @task.title %></p>
<p>詳細: <%= @task.content %></p>
<p>終了期限: <%= @task.deadline %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先順位: <%= @task.priority %></p>
<p>ラベル: 
  <% @task.labels.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>

<%= link_to "もどる", tasks_path %>